<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="pushy-cordova" version="1.0.56">
    <name>PushySDK</name>
    <description>The official Pushy SDK for Cordova apps.</description>
    <license>Apache 2.0</license>
    <keywords>pushy pushy.me sdk cordova phonegap ionic</keywords>

    <!-- Supported Platforms -->
    <engines>
        <engine name="cordova-ios" version=">=4.3.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- Pushy JS Module -->
    <js-module src="www/Pushy.js" name="Pushy">
        <clobbers target="Pushy" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <!-- Pushy iOS SDK -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Pushy" spec="~> 1.0.50" />
            </pods>
        </podspec>

        <!-- iOS Package -->
        <config-file target="config.xml" parent="/*">
            <feature name="PushyPlugin">
                <param name="ios-package" value="PushyPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Cordova Swift Support -->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

        <!-- Pushy Cordova Plugin -->
        <source-file src="src/ios/PushyPlugin.swift" />

        <!-- APS environment injection -->
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
    </platform>

    <!-- Android -->
    <platform name="android">
        <!-- Pushy Android SDK -->
        <framework src="me.pushy:sdk:1.0.93" />

        <!-- Pushy Permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <!-- Pushy Declarations -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Pushy Notification Receiver -->
            <!-- Do not modify - internal BroadcastReceiver that listens for push notifications -->
            <receiver android:name="me.pushy.sdk.cordova.internal.receivers.PushyPushReceiver" android:exported="false">
                <intent-filter>
                    <!-- Do not modify this -->
                    <action android:name="pushy.me" />
                </intent-filter>
            </receiver>

            <!-- Pushy Update Receiver -->
            <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
            <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
            </receiver>

            <!-- Pushy Boot Receiver -->
            <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
            <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>

            <!-- Pushy Socket Service -->
            <!-- Do not modify - internal service -->
            <service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />

            <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
            <!-- Do not modify - internal service -->
            <service android:name="me.pushy.sdk.services.PushyJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:stopWithTask="false" />

            <!-- Pushy FCM Fallback Service -->
            <!-- Do not modify - internal service -->
            <service android:name="me.pushy.sdk.services.PushyFirebaseService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </config-file>

        <!-- Pushy Plugin -->
        <config-file target="config.xml" parent="/*">
            <feature name="Pushy">
                <param name="android-package" value="me.pushy.sdk.cordova.internal.PushyPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin Source Files -->
        <source-file src="src/android/PushyPlugin.java" target-dir="src/me/pushy/sdk/cordova/internal" />
        <source-file src="src/android/util/PushyPersistence.java" target-dir="src/me/pushy/sdk/cordova/internal/util" />
        <source-file src="src/android/config/PushyIntentExtras.java" target-dir="src/me/pushy/sdk/cordova/internal/config" />
        <source-file src="src/android/receivers/PushyPushReceiver.java" target-dir="src/me/pushy/sdk/cordova/internal/receivers" />
    </platform>
</plugin>
